<div class="container">
    <br>
    <div class="">
        <mat-card>
            <mat-card-title>CRUD</mat-card-title>
            <mat-card-actions>
                <div class="center-align">
                    <button mat-raised-button color="primary">New</button>
                </div>


            </mat-card-actions>
            <mat-card-content>asdads</mat-card-content>

            <mat-card-subtitle>Start</mat-card-subtitle>


        </mat-card>
        <br>

    </div>

</div>