<div style=" height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;">
    <div class="row ">

        <mat-card class="mt-4" style="border-radius: 20px; max-width: 600px;">
            <mat-card-title class="center">Ingrese su nueva contraseña</mat-card-title>
            <mat-card-content class="mt-4">
                <form class="mb-4" (ngSubmit)="onSubmit()" [formGroup]="passwordForm">
                    <div class="row center">
                        <div class="col s6 ">
                            <mat-form-field appearance="outline" style="width:100% ;">
                                <mat-label>Contraseña</mat-label>
                                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                                <button mat-icon-button matSuffix (click)="hide = !hide"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>

                                <mat-error
                                    *ngIf="passwordForm.get('password')?.touched && passwordForm.get('password')?.errors?.['required']">
                                    La Contraseña es <strong>requerida</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col s6">
                            <mat-form-field appearance="outline" style="width:100% ; ">
                                <mat-label>Confirmar contraseña</mat-label>
                                <input matInput [type]="hideConfirm ? 'password' : 'text'"
                                    formControlName="password_confirm">

                                <button mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirm">
                                    <mat-icon>{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>

                                <mat-error *ngIf="passwordForm.get('password_confirm')?.touched && 
                                passwordForm.get('password_confirm')?.errors?.['notEquals']">
                                    Las contraseñas no son iguales
                                </mat-error>

                            </mat-form-field>

                            <!--  <div>{{registerForm.get('password_confirm')?.errors &&
                            registerForm.errors?.['passwordMismatch'] | json}}</div>-->




                        </div>
                    </div>
                   


                    <div class="row center">

                        <button mat-raised-button color="primary" style="width: 40% ;"
                            [disabled]="passwordForm.invalid">Confirmar nueva contraseña</button>


                    </div>

                   
                </form>






            </mat-card-content>

        </mat-card>


    </div>
</div>