<div>
    <mat-toolbar color="primary" style="height:90px;">
        <span></span>
        <button mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>

        <div class="right-align ">
            <span >Comité ético científico</span>
        </div>
        

        <span class="x-spacer"></span>

        <div class="right-align mt-2" style="margin-right: 10px !important ;">
            <img  style="background-color: white ; width: 12%;" src="https://www.nicepng.com/png/full/202-2022264_usuario-annimo-usuario-annimo-user-icon-png-transparent.png">
        </div>

        <div class="container mt-3 pl-4">
            <div class="row pt-5" style="max-height: 9px;" >
                <span >{{names | titlecase }} {{surNames | titlecase}}</span>
            </div>
            <div class="row pb-5">
                <span>{{role | titlecase}} | </span>
                <a (click)="profile()" >Perfil</a>
            </div>
        </div>
        
        
      
    </mat-toolbar>

    <mat-sidenav-container style="height: 100vh ;" class="example-sidenav-container"
        [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav [opened]=" !mobileQuery.matches" #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
            [fixedInViewport]="mobileQuery.matches">
            <mat-nav-list >

                <div mat-subheader>Menú</div>
                <mat-list-item routerLinkActive="light-blue accent-2" routerLink="welcome">
                    <mat-icon mat-list-icon>home</mat-icon>
                    <div mat-line>Inicio</div>
                </mat-list-item>

                <div *ngIf="this.authService.isPresident">
                    

                    <mat-expansion-panel [class.mat-elevation-z0]="true" dense>

                        <mat-expansion-panel-header>
                            <mat-icon>group_user</mat-icon>Miembros
                        </mat-expansion-panel-header>

                        <mat-nav-list dense >

                            <mat-list-item routerLinkActive="light-blue accent-2" routerLink="solicitudes">
                                <mat-icon><span class="material-symbols-outlined">
                                        group_add
                                    </span></mat-icon>
                                    <span [matBadge]="totalSolicitudes" [matBadgeHidden]="hidden" matBadgeColor="warn" matBadgeOverlap="false">Solicitudes de registro</span>
                            </mat-list-item>

                            <mat-list-item routerLinkActive="selected-option" routerLink="#" >
                                <mat-icon><span class="material-symbols-outlined">
                                    people
                                    </span></mat-icon>Solicitud de registro
                            </mat-list-item>
                            
                        </mat-nav-list>

                    </mat-expansion-panel>
                </div>

                <!--ROL INVESTIGADOR-->

                <div *ngIf="this.authService.isInvestigador">
                    

                    <mat-expansion-panel [class.mat-elevation-z0]="true" dense>

                        <mat-expansion-panel-header>
                            <mat-icon>book</mat-icon>Proyectos
                        </mat-expansion-panel-header>

                        <mat-nav-list dense >

                            <mat-list-item routerLinkActive="light-blue accent-2" routerLink="solicitudes-proyecto">
                                <mat-icon><span class="material-symbols-outlined">
                                        add
                                    </span></mat-icon>
                                    <span [matBadge]="totalSolicitudes" [matBadgeHidden]="hidden" matBadgeColor="warn" matBadgeOverlap="false">Crear solicitud</span>
                            </mat-list-item>

                            
                            
                        </mat-nav-list>

                    </mat-expansion-panel>
                </div>





                <mat-divider></mat-divider>



                <mat-list-item (click)="handleLogout()" class="red-text">
                    <mat-icon mat-list-icon>exit_to_app</mat-icon>
                    <div mat-line >Cerrar Sesión</div>
                </mat-list-item>
            </mat-nav-list>

        </mat-sidenav>
        

        <mat-sidenav-content>
            <div class="row">

                <div class="col s12" style="background-color: #448AFF; height: 40px;" >
                   
                    <app-breadcrumb ></app-breadcrumb>
                </div>

                <div class="col s5" style="background-color: #448AFF; height: 35px; border-radius: 0px 0px 20px 0px;" >
                    <h2 class="center mb-3" style="color: white ; margin-bottom: 10px !important ">{{pageTitle}}</h2>
                </div>

                <div class="col s10 push-s1">
                    


                    <router-outlet></router-outlet>

                </div>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
