<div >
    <h1 mat-dialog-title>Dar acceso a {{user?.names}} {{user?.surnames}}</h1>
    <div mat-dialog-actions>
        <button color="warn" mat-button (click)="onNoClick()">Cancelar</button>
        <button mat-button  cdkFocusInitial (click)="onAproveClick()">Aceptar</button>
      </div>
</div>