<div style=" height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;">
    <div class="row ">

        <mat-card class="mt-4" style="border-radius: 20px; width: 400px;">
            <mat-card-title class="center">Envíar correo de recuperación</mat-card-title>
            <mat-card-content class="mt-4">
                <form class="mb-4" [formGroup]="emailForm" (ngSubmit)="onSubmit()" >


                    <div class="row center">

                        <div class="col s12 ">
                            <mat-form-field appearance="outline" style="width:100% ;">
                                <mat-label>Correo electrónico</mat-label>
                                <input matInput required formControlName="email"
                                    pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                                <mat-error
                                    *ngIf="emailForm.get('email')?.touched && emailForm.get('email')?.errors?.['required']">
                                    El correo electónico es <strong>requerido</strong>
                                </mat-error>
                                <mat-error *ngIf="emailForm.get('email')?.errors?.['pattern']">
                                    Ingrese un formato válido
                                </mat-error>
                            </mat-form-field>
                        </div>

                    </div>

                    
                    <div class="row center">
                        <button mat-raised-button color="primary" [disabled]="emailForm.invalid"
                            style="width: 40% ;">Enviar</button>
                    </div>

                    <div class="row center">
                        <div>Volver a <a (click)="goToLogin()"
                                style="cursor: pointer;text-decoration: underline;">Inicio de sesión</a>
                        </div>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>